%div{"aria-atomic" => "true", "aria-live" => "polite", :style => "position: absolute; top: 10px; right: 10px; min-height: 200px;"}
  .toast-container.d-flex.justify-content-end.align-items-end.flex-column
